:root {
    /* Primary Color */
    --color-primary-start: #4867CD;
    --color-primary-end: #5A85EB;
    --color-primary: linear-gradient(135deg, var(--color-primary-start) 9.04%, var(--color-primary-end) 90.06%);

    /* App colors */

    /* App/AI */
    --color-app-ai-start: #CB7D5D;
    --color-app-ai-end: #CB685D;
    --color-app-ai: linear-gradient(135deg, var(--color-app-ai-start) 9.04%, var(--color-app-ai-end) 90.06%);

    /* App/Health */
    --color-app-health-start: #FD50A0;
    --color-app-health-end: #F42C2D;
    --color-app-health: linear-gradient(135deg, var(--color-app-health-start) 9.04%, var(--color-app-health-end) 90.06%);

    /* App/Lifecoaching */
    --color-app-lifecoaching-start: #FDB250;
    --color-app-lifecoaching-end: #F42C2D;
    --color-app-lifecoaching: linear-gradient(135deg, var(--color-app-lifecoaching-start) 9.04%, var(--color-app-lifecoaching-end) 90.06%);

    /* App/Nutrition */
    --color-app-nutrition-start: #FD8450;
    --color-app-nutrition-end: #F42C2D;
    --color-app-nutrition: linear-gradient(135deg, var(--color-app-nutrition-start) 9.04%, var(--color-app-nutrition-end) 90.06%);

    /* App/Finance */
    --color-app-finance-start: #119106;
    --color-app-finance-end: #15780D;
    --color-app-finance: linear-gradient(135deg, var(--color-app-finance-start) 9.04%, var(--color-app-finance-end) 90.06%);

    /* App/Fitness */
    --color-app-fitness-start: #B80065;
    --color-app-fitness-end: #88004B;
    --color-app-fitness: linear-gradient(135deg, var(--color-app-fitness-start) 9.04%, var(--color-app-fitness-end) 90.06%);

    /* App/Legal */
    --color-app-legal-start: #239CFF;
    --color-app-legal-end: #005BA5;
    --color-app-legal: linear-gradient(135deg, var(--color-app-legal-start) 9.04%, var(--color-app-legal-end) 90.06%);

    /* App/Weather */
    --color-app-weather-start: #005BA5;
    --color-app-weather-end: #00A7C9;
    --color-app-weather: linear-gradient(135deg, var(--color-app-weather-start) 9.04%, var(--color-app-weather-end) 90.06%);

    /* App/Travel */
    --color-app-travel-start: #059DB3;
    --color-app-travel-end: #13DAF5;
    --color-app-travel: linear-gradient(135deg, var(--color-app-travel-start) 9.04%, var(--color-app-travel-end) 90.06%);

    /* App/News */
    --color-app-news-start: #F53F5B;
    --color-app-news-end: #DD0B2B;
    --color-app-news: linear-gradient(135deg, var(--color-app-news-start) 9.04%, var(--color-app-news-end) 90.06%);

    /* App/Jobs */
    --color-app-jobs-start: #049363;
    --color-app-jobs-end: #00C382;
    --color-app-jobs: linear-gradient(135deg, var(--color-app-jobs-start) 9.04%, var(--color-app-jobs-end) 90.06%);

    /* App/Files */
    --color-app-files-start: #1E3A8A;
    --color-app-files-end: #29BEFB;
    --color-app-files: linear-gradient(135deg, var(--color-app-files-start) 9.04%, var(--color-app-files-end) 90.06%);

    /* App/Home */
    --color-app-home-start: #E58C27;
    --color-app-home-end: #F2CC00;
    --color-app-home: linear-gradient(135deg, var(--color-app-home-start) 9.04%, var(--color-app-home-end) 90.06%);

    /* App/Docs */
    --color-app-docs-start: #0909E5;
    --color-app-docs-end: #4285F4;
    --color-app-docs: linear-gradient(135deg, var(--color-app-docs-start) 9.04%, var(--color-app-docs-end) 90.06%);

    /* App/Slides */
    --color-app-slides-start: #FF8C00;
    --color-app-slides-end: #F4B400;
    --color-app-slides: linear-gradient(135deg, var(--color-app-slides-start) 9.04%, var(--color-app-slides-end) 90.06%);

    /* App/Sheets */
    --color-app-sheets-start: #006400;
    --color-app-sheets-end: #34A853;
    --color-app-sheets: linear-gradient(135deg, var(--color-app-sheets-start) 9.04%, var(--color-app-sheets-end) 90.06%);

    /* App/Notes */
    --color-app-notes-start: #FFA500;
    --color-app-notes-end: #C49F0F;
    --color-app-notes: linear-gradient(135deg, var(--color-app-notes-start) 9.04%, var(--color-app-notes-end) 90.06%);

    /* App/Whiteboards */
    --color-app-whiteboards-start: #0088FF;
    --color-app-whiteboards-end: #0F40C4;
    --color-app-whiteboards: linear-gradient(135deg, var(--color-app-whiteboards-start) 9.04%, var(--color-app-whiteboards-end) 90.06%);

    /* App/Diagrams */
    --color-app-diagrams-start: #FFB200;
    --color-app-diagrams-end: #E6BD43;
    --color-app-diagrams: linear-gradient(135deg, var(--color-app-diagrams-start) 9.04%, var(--color-app-diagrams-end) 90.06%);

    /* App/Events */
    --color-app-events-start: #A20000;
    --color-app-events-end: #E61B3E;
    --color-app-events: linear-gradient(135deg, var(--color-app-events-start) 9.04%, var(--color-app-events-end) 90.06%);

    /* App/Code */
    --color-app-code-start: #155D91;
    --color-app-code-end: #42ABF4;
    --color-app-code: linear-gradient(135deg, var(--color-app-code-start) 9.04%, var(--color-app-code-end) 90.06%);

    /* App/Calendar */
    --color-app-calendar-start: #009688;
    --color-app-calendar-end: #26A69A;
    --color-app-calendar: linear-gradient(135deg, var(--color-app-calendar-start) 9.04%, var(--color-app-calendar-end) 90.06%);

    /* App/Mail */
    --color-app-mail-start: #DF4A3A;
    --color-app-mail-end: #B93622;
    --color-app-mail: linear-gradient(135deg, var(--color-app-mail-start) 9.04%, var(--color-app-mail-end) 90.06%);

    /* App/Reminder */
    --color-app-reminder-start: #8B0000;
    --color-app-reminder-end: #FF6F00;
    --color-app-reminder: linear-gradient(135deg, var(--color-app-reminder-start) 9.04%, var(--color-app-reminder-end) 90.06%);

    /* App/Business */
    --color-app-business-start: #004040;
    --color-app-business-end: #008080;
    --color-app-business: linear-gradient(135deg, var(--color-app-business-start) 9.04%, var(--color-app-business-end) 90.06%);

    /* App/Web */
    --color-app-web-start: #DE1E66;
    --color-app-web-end: #FF763B;
    --color-app-web: linear-gradient(135deg, var(--color-app-web-start) 9.04%, var(--color-app-web-end) 90.06%);

    /* App/Videos */
    --color-app-videos-start: #A70B09;
    --color-app-videos-end: #FF1512;
    --color-app-videos: linear-gradient(135deg, var(--color-app-videos-start) 9.04%, var(--color-app-videos-end) 90.06%);

    /* App/Audio */
    --color-app-audio-start: #00C7A0;
    --color-app-audio-end: #2B3D39;
    --color-app-audio: linear-gradient(135deg, var(--color-app-audio-start) 9.04%, var(--color-app-audio-end) 90.06%);

    /* App/Maps */
    --color-app-maps-start: #11672D;
    --color-app-maps-end: #3EAB61;
    --color-app-maps: linear-gradient(135deg, var(--color-app-maps-start) 9.04%, var(--color-app-maps-end) 90.06%);

    /* App/Design */
    --color-app-design-start: #101010;
    --color-app-design-end: #2E2E2E;
    --color-app-design: linear-gradient(135deg, var(--color-app-design-start) 9.04%, var(--color-app-design-end) 90.06%);

    /* App/PCB Design */
    --color-app-pcbdesign-start: #233888;
    --color-app-pcbdesign-end: #2E4EC8;
    --color-app-pcbdesign: linear-gradient(135deg, var(--color-app-pcbdesign-start) 9.04%, var(--color-app-pcbdesign-end) 90.06%);

    /* App/PDF Editor */
    --color-app-pdfeditor-start: #B50D0E;
    --color-app-pdfeditor-end: #F42C2D;
    --color-app-pdfeditor: linear-gradient(135deg, var(--color-app-pdfeditor-start) 9.04%, var(--color-app-pdfeditor-end) 90.06%);

    /* App/Shopping */
    --color-app-shopping-start: #EA9E39;
    --color-app-shopping-end: #AE6301;
    --color-app-shopping: linear-gradient(135deg, var(--color-app-shopping-start) 9.04%, var(--color-app-shopping-end) 90.06%);

    /* App/Photos */
    --color-app-photos-start: #001E36;
    --color-app-photos-end: #073A62;
    --color-app-photos: linear-gradient(135deg, var(--color-app-photos-start) 9.04%, var(--color-app-photos-end) 90.06%);

    /* App/Publishing */
    --color-app-publishing-start: #49021F;
    --color-app-publishing-end: #EB2D5C;
    --color-app-publishing: linear-gradient(135deg, var(--color-app-publishing-start) 9.04%, var(--color-app-publishing-end) 90.06%);

    /* App/Social Media */
    --color-app-socialmedia-start: #044595;
    --color-app-socialmedia-end: #0281FA;
    --color-app-socialmedia: linear-gradient(135deg, var(--color-app-socialmedia-start) 9.04%, var(--color-app-socialmedia-end) 90.06%);

    /* App/Project Management */
    --color-app-projectmanagement-start: #A84647;
    --color-app-projectmanagement-end: #F16E6F;
    --color-app-projectmanagement: linear-gradient(135deg, var(--color-app-projectmanagement-start) 9.04%, var(--color-app-projectmanagement-end) 90.06%);

    /* App/Messages */
    --color-app-messages-start: #5861E5;
    --color-app-messages-end: #62B3E0;
    --color-app-messages: linear-gradient(135deg, var(--color-app-messages-start) 9.04%, var(--color-app-messages-end) 90.06%);

    /* App/Books */
    --color-app-books-start: #E89A31;
    --color-app-books-end: #E17A2F;
    --color-app-books: linear-gradient(135deg, var(--color-app-books-start) 9.04%, var(--color-app-books-end) 90.06%);

    /* App/Plants */
    --color-app-plants-start: #34A853;
    --color-app-plants-end: #15780D;
    --color-app-plants: linear-gradient(135deg, var(--color-app-plants-start) 9.04%, var(--color-app-plants-end) 90.06%);

    /* App/Beauty */
    --color-app-beauty-start: #FF5C39;
    --color-app-beauty-end: #FF808B;
    --color-app-beauty: linear-gradient(135deg, var(--color-app-beauty-start) 9.04%, var(--color-app-beauty-end) 90.06%);

    /* App/Hosting */
    --color-app-hosting-start: #C50003;
    --color-app-hosting-end: #FF763B;
    --color-app-hosting: linear-gradient(135deg, var(--color-app-hosting-start) 9.04%, var(--color-app-hosting-end) 90.06%);

    /* App/Fashion */
    --color-app-fashion-start: #FBBC04;
    --color-app-fashion-end: #EA4335;
    --color-app-fashion: linear-gradient(135deg, var(--color-app-fashion-start) 9.04%, var(--color-app-fashion-end) 90.06%);

    /* App/Shipping */
    --color-app-shipping-start: #FBE204;
    --color-app-shipping-end: #C75600;
    --color-app-shipping: linear-gradient(135deg, var(--color-app-shipping-start) 9.04%, var(--color-app-shipping-end) 90.06%);

    /* App/Time */
    --color-app-time-start: #C57300;
    --color-app-time-end: #DC9D31;
    --color-app-time: linear-gradient(135deg, var(--color-app-time-start) 9.04%, var(--color-app-time-end) 90.06%);

    /* App/TV */
    --color-app-tv-start: #00C2C5;
    --color-app-tv-end: #3170DC;
    --color-app-tv: linear-gradient(135deg, var(--color-app-tv-start) 9.04%, var(--color-app-tv-end) 90.06%);

    /* App/Movies */
    --color-app-movies-start: #C5003B;
    --color-app-movies-end: #DC3187;
    --color-app-movies: linear-gradient(135deg, var(--color-app-movies-start) 9.04%, var(--color-app-movies-end) 90.06%);

    /* App/Secrets */
    --color-app-secrets-start: #0065E1;
    --color-app-secrets-end: #6300D5;
    --color-app-secrets: linear-gradient(135deg, var(--color-app-secrets-start) 9.04%, var(--color-app-secrets-end) 90.06%);

    /* App/Study */
    --color-app-study-start: #FF7300;
    --color-app-study-end: #D53200;
    --color-app-study: linear-gradient(135deg, var(--color-app-study-start) 9.04%, var(--color-app-study-end) 90.06%);

    /* App/Contacts */
    --color-app-contacts-start: #000BDF;
    --color-app-contacts-end: #8E00D5;
    --color-app-contacts: linear-gradient(135deg, var(--color-app-contacts-start) 9.04%, var(--color-app-contacts-end) 90.06%);

    /* App/Calculator */
    --color-app-calculator-start: #0EA308;
    --color-app-calculator-end: #45A15D;
    --color-app-calculator: linear-gradient(135deg, var(--color-app-calculator-start) 9.04%, var(--color-app-calculator-end) 90.06%);
}