/* Global font settings */
:root {
    --font-primary: "Lexend Deca";
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-style-normal: normal;
    --line-height-normal: normal;
    --font-size-h1: 60px;
    --font-size-h2: 30px;
    --font-size-h3: 20px;
    --font-size-h4: 16px;
    --font-size-p: 16px;
    --font-weight-p: 500;
    --button-font-family: var(--font-primary);
    --button-font-size: 16px;
    --button-font-weight: 500;
    --button-text-decoration: none;
    --input-font-size: 16px;
    --input-font-weight: 500;
    --app-card-font-size: 16px;
    --chat-message-font-size: 16px;
    --processing-details-font-size: 14px;
}

/* Utility classes for text alignment */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Common styles for headings */
h1, h2, h3, h4 {
    font-family: var(--font-primary);
    font-style: var(--font-style-normal);
    line-height: var(--line-height-normal);
}

h1 {
    color: var(--color-font-primary);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-extra-bold);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

h3 {
    color: var(--color-font-secondary);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
}

h4 {
    color: var(--color-font-tertiary);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
}

p {
    font-family: var(--font-primary);
    font-size: var(--font-size-p);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-p);
    line-height: var(--line-height-normal);
}

bold {
    font-weight: var(--font-weight-bold);
}

/* Button typography styles */
button {
    color: var(--color-font-button);
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-decoration: var(--button-text-decoration);
}

/* Input field typography styles */
input {
    font-family: var(--font-primary);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
}

input::placeholder {
    color: var(--color-font-field-placeholder);
    font-family: var(--font-primary);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
}

ol {
    margin: 0.5em 0;     /* Reduced top/bottom margin */
    padding-left: 1.5em;  /* Reduced left padding */
}

li {
    margin: 0.2em 0;     /* Minimal spacing between list items */
    padding-left: 0.5em;  /* Space between number and text */
}

/* Highlight class to change text color */
.highlight {
    background: var(--color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Brand name styling */
.brand-name {
    /* Inherit heading properties if used within headings */
    font: inherit;
    display: inline;
    font-weight: var(--font-weight-bold);
}

.brand-name-my {
    color: var(--color-primary-start);
}

.brand-name-mates {
    color: var(--color-font-primary);
}

/* App Card Typography */
.app-card-h1 {
    font-family: var(--font-primary);
    font-size: var(--app-card-font-size);
    font-weight: var(--font-weight-bold);
    background: var(--color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.app-card-h2 {
    font-family: var(--font-primary);
    font-size: var(--app-card-font-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-app-card-h2);
}

.app-card-h3 {
    font-family: var(--font-primary);
    font-size: var(--app-card-font-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-app-card-h3);
}

.app-card-text {
    font-family: var(--font-primary);
    font-size: var(--app-card-font-size);
    font-weight: var(--font-weight-p);
    color: var(--color-app-card-text);
}

/* Chat message typography */
.chat-mate-name {
    font-family: var(--font-primary);
    font-size: var(--chat-message-font-size);
    font-weight: var(--font-weight-bold);
    background: var(--color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 4px;
}

.chat-message-text {
    color: var(--color-font-primary); 
    font-family: var(--font-primary);
    font-size: var(--chat-message-font-size);
    font-weight: var(--font-weight-p);
}

.processing-details {
    font-family: var(--font-primary);
    font-size: var(--processing-details-font-size);
    font-weight: var(--font-weight-p);
    color: var(--color-font-primary);
    text-decoration: none;
}


.not_selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}