/* Creates a circular container for profile pictures or avatars */
.mate-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mate-profile.buton {
    background-image: url('../../../../api/images/mates/profile_images/burton.jpg');
}

.mate-profile.sophia {
    background-image: url('../../../../api/images/mates/profile_images/sophia.jpg');
}

.mate-profile.melvin {
    background-image: url('../../../../api/images/mates/profile_images/melvin.jpg');
}

.mate-profile.finn {
    background-image: url('../../../../api/images/mates/profile_images/finn.jpg');
}

.mate-profile.elton {
    background-image: url('../../../../api/images/mates/profile_images/elton.jpg');
}

.mate-profile.denise {
    background-image: url('../../../../api/images/mates/profile_images/denise.jpg');
}

.mate-profile.mark {
    background-image: url('../../../../api/images/mates/profile_images/mark.jpg');
}

.mate-profile.colin {
    background-image: url('../../../../api/images/mates/profile_images/colin.jpg');
}