/* Creates a circular container for profile pictures or avatars */
.mate-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* Add initial opacity and animation */
    opacity: 0;
    animation: fadeInMate 0.4s ease-in forwards;
    animation-delay: 800ms;
}

/* Fade in animation for mate profiles */
@keyframes fadeInMate {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.mate-profile.buton {
    background-image: url('../../../../api/images/mates/profile_images/burton.jpg');
}

.mate-profile.sophia {
    background-image: url('../../../../api/images/mates/profile_images/sophia.jpg');
}

.mate-profile.melvin {
    background-image: url('../../../../api/images/mates/profile_images/melvin.jpg');
}

.mate-profile.finn {
    background-image: url('../../../../api/images/mates/profile_images/finn.jpg');
}

.mate-profile.elton {
    background-image: url('../../../../api/images/mates/profile_images/elton.jpg');
}

.mate-profile.denise {
    background-image: url('../../../../api/images/mates/profile_images/denise.jpg');
}

.mate-profile.mark {
    background-image: url('../../../../api/images/mates/profile_images/mark.jpg');
}

.mate-profile.colin {
    background-image: url('../../../../api/images/mates/profile_images/colin.jpg');
}