global:
  scrape_interval: 30s
  scrape_timeout: 10s
  evaluation_interval: 30s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []
      scheme: http
      timeout: 10s

rule_files: []

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "api"
    metrics_path: /metrics
    static_configs:
      - targets: ["api:8000"]

  - job_name: "cadvisor"
    scrape_interval: 60s
    scrape_timeout: 10s
    static_configs:
      - targets: ["cadvisor:8080"]
