body {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
}

.dark-mode {
    background-color: #171717;
}
.light-mode {
    background-color: #ffffff;
}
.content-box {
    background-color: #f3f3f3;
    border-radius: 17px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}
.dark-mode .content-box {
    background-color: #212121;
}

mark {
    background-color: unset !important;
    color: #4867CD !important;
}

.footer {
    background-color: #4867CD !important;
}

.dark-mode .footer {
    background-color: #293d7f !important;
}

/* Code container styling */
.code-container {
    width: 270px !important;
    max-width: 270px;
    margin: 0 auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25) !important;
    border-radius: 24px !important;
    background-color: #f3f3f3 !important;
}

.dark-mode .code-container {
    background-color: #212121 !important;
}

/* Force columns to stay side by side on mobile */
@media only screen and (max-width:480px) {
  .code-container .mj-group-content {
    width: 100% !important;
    display: flex !important;
  }
  
  .code-container .mj-column {
    display: table-cell !important;
    width: auto !important;
  }
  
  .code-container .mj-column-per-30 {
    width: 30% !important;
  }
  
  .code-container .mj-column-per-70 {
    width: 70% !important;
  }
}