body {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
}

.dark-mode {
    background-color: #171717;
}
.light-mode {
    background-color: #ffffff;
}
.content-box {
    background-color: #f3f3f3;
    border-radius: 17px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}
.dark-mode .content-box {
    background-color: #212121;
}

mark {
    background-color: unset !important;
    color: #4867CD !important;
}

.footer {
    background-color: #4867CD !important;
}

.dark-mode .footer {
    background-color: #293d7f !important;
}