#  _____________________________________________________________________
# |                                                                     |
# |         ____                  __  __        _                       |
# |        / __ \                |  \/   |     | |                      |
# |       | |  | |_ __   ___ _ __| \  /  | __ _| |_ ___  ___            |
# |       | |  | | '_ \ / _ \ '_ \ |\/ | |/ _` | __/ _ \/ __|           |
# |       | |__| | |_) |  __/ | | | |  | | (_| | ||  __/\__ \           |
# |        \____/| .__/ \___|_| |_|_|  |_|\__,_|\__\___||___/           |
# |              | |                                                    |
# |              |_|                                                    |
# |                                                                     |
# |_____________________________________________________________________|
#                       Your AI team mates.

#########################################################################
##################          Server Secrets          #####################
#########################################################################

#########################################################################
##### Testing settings
#########################################################################

TEST_API_TOKEN=
TEST_TEAM_SLUG=
TEST_DISCORD_CHANNEL_NAME=
TEST_AI_MATE_USERNAME=


#########################################################################
##### Basic server settings
#########################################################################

SERVER_HOST=0.0.0.0
SERVER_ENVIRONMENT=production
NGROK_AUTHTOKEN=


#########################################################################
##### AI team mates and their default settings
#########################################################################
# TODO: also add to samle .env
MATE_BURTON_ALLOWED=True
MATE_SOPHIA_ALLOWED=True
MATE_MARK_ALLOWED=True
MATE_ELTON_ALLOWED=True
MATE_FINN_ALLOWED=True
MATE_GRACE_ALLOWED=True
MATE_LEON_ALLOWED=True
MATE_PRISCILLA_ALLOWED=True
MATE_SELMA_ALLOWED=True
MATE_MAKANI_ALLOWED=True
MATE_MONIKA_ALLOWED=True
MATE_MELVIN_ALLOWED=True
MATE_LISA_ALLOWED=True

#########################################################################
##### Apps
#########################################################################

# Apps used by OpenMates

# 'AI' app
# Use generative AI to answer questions, brainstorm ideas and more.
APP_AI_ALLOWED=True
# / providers
# / providers / openai
APP_AI_PROVIDER_OPENAI_ALLOWED=True
APP_AI_PROVIDER_OPENAI_API_KEY=
# / providers / anthropic
APP_AI_PROVIDER_ANTHROPIC_ALLOWED=True
APP_AI_PROVIDER_ANTHROPIC_API_KEY=
# / skills
# / skills / ask
APP_AI_SKILL_ASK_ALLOWED=True
APP_AI_SKILL_ASK_DEFAULT_PROVIDER_SLUG=openai
# / skills / call
APP_AI_SKILL_CALL_ALLOWED=True
APP_AI_SKILL_CALL_DEFAULT_PROVIDER_SLUG=openai
# / skills / estimate_cost
APP_AI_SKILL_ESTIMATE_COST_ALLOWED=True


# 'Audio' app
# Generate, modify and transcribe audio and more.
APP_AUDIO_ALLOWED=True
# / providers
# / providers / assemblyai
APP_AUDIO_PROVIDER_ASSEMBLYAI_ALLOWED=True
APP_AUDIO_PROVIDER_ASSEMBLYAI_API_KEY=
# / providers / openai
APP_AUDIO_PROVIDER_OPENAI_ALLOWED=True
APP_AUDIO_PROVIDER_OPENAI_API_KEY=
# / providers / elevenlabs
APP_AUDIO_PROVIDER_ELEVENLABS_ALLOWED=True
APP_AUDIO_PROVIDER_ELEVENLABS_API_KEY=
# / skills
# / skills / generate_speech
APP_AUDIO_SKILL_GENERATE_SPEECH_ALLOWED=True
APP_AUDIO_SKILL_GENERATE_SPEECH_DEFAULT_PROVIDER_SLUG=openai
# / skills / generate_transcription
APP_AUDIO_SKILL_GENERATE_TRANSCRIPT_ALLOWED=True
APP_AUDIO_SKILL_GENERATE_TRANSCRIPT_DEFAULT_PROVIDER_SLUG=assemblyai


# 'Books' app
# Manage your ebooks, translate them and more.
APP_BOOKS_ALLOWED=True
# / skills
# / skills / translate
APP_BOOKS_SKILL_TRANSLATE_ALLOWED=True
APP_BOOKS_SKILL_TRANSLATE_DEFAULT_PROVIDER_SLUG=openai


# 'Business' app
# Manage your businesses, get recommendations and more.
APP_BUSINESS_ALLOWED=True
# / skills
# / skills / create_pitch
APP_BUSINESS_FOCUS_CREATE_PITCH_ALLOWED=True
# / skills / plan_application
APP_BUSINESS_FOCUS_PLAN_APPLICATION_ALLOWED=True
# / skills / create_application
APP_BUSINESS_FOCUS_CREATE_APPLICATION_ALLOWED=True


# 'Code' app
# Write, test, improve and execute code.
APP_CODE_ALLOWED=True
# / skills
# / skills / plan
APP_CODE_FOCUS_PLAN_ALLOWED=True


# 'Design' app
# Design interfaces, get feedback and more.
APP_DESIGN_ALLOWED=True
# Penpot
APP_DESIGN_PROVIDER_PENPOT_ALLOWED=True
APP_DESIGN_PROVIDER_PENPOT_INSTALL_SERVER=False
APP_DESIGN_PROVIDER_PENPOT_API_URL=http://localhost:9001
APP_DESIGN_PROVIDER_PENPOT_API_KEY=


# 'Docs' app
# Create documents for everything from contracts to CVs and more.
APP_DOCS_ALLOWED=True
# / providers
# / providers / onlyoffice
APP_DOCS_PROVIDER_ONLYOFFICE_ALLOWED=True
APP_DOCS_PROVIDER_ONLYOFFICE_INSTALL_SERVER=False
APP_DOCS_PROVIDER_ONLYOFFICE_API_URL=http://localhost:8080
# / providers / google_docs
APP_DOCS_PROVIDER_GOOGLE_DOCS_ALLOWED=True
# / skills
# / skills / create_document
APP_DOCS_SKILL_CREATE_DOCUMENT_ALLOWED=True
APP_DOCS_SKILL_CREATE_DOCUMENT_DEFAULT_PROVIDER_SLUG=onlyoffice


# 'Files' app
# Manage your files, regardless of where they are.
APP_FILES_ALLOWED=True
# / providers
# / providers / dropbox
APP_FILES_PROVIDER_DROPBOX_ALLOWED=True
# / providers / openmates
APP_FILES_PROVIDER_OPENMATES_ALLOWED=True
# / skills
# / skills / upload
APP_FILES_SKILL_UPLOAD_ALLOWED=True
APP_FILES_SKILL_UPLOAD_DEFAULT_PROVIDER_SLUG=openmates
# / skills / download
APP_FILES_SKILL_DOWNLOAD_ALLOWED=True
APP_FILES_SKILL_DOWNLOAD_DEFAULT_PROVIDER_SLUG=openmates
# / skills / delete
APP_FILES_SKILL_DELETE_ALLOWED=True
APP_FILES_SKILL_DELETE_DEFAULT_PROVIDER_SLUG=openmates


# 'Finance' app
# Keep track of your finances and build a stable income.
APP_FINANCE_ALLOWED=True
# / providers
# / providers / akaunting
APP_FINANCE_PROVIDER_AKAUNTING_ALLOWED=True
APP_FINANCE_PROVIDER_AKAUNTING_INSTALL_SERVER=False
APP_FINANCE_PROVIDER_AKAUNTING_API_URL=http://localhost:8080
# / skills
# / skills / get_report
APP_FINANCE_SKILL_GET_REPORT_ALLOWED=True
APP_FINANCE_SKILL_GET_REPORT_DEFAULT_PROVIDER_SLUG=akaunting


# 'Home' app
# Control your smart home, organize daily tasks and more.
APP_HOME_ALLOWED=True
# / providers
# / providers / mosquitto
APP_HOME_PROVIDER_MOSQUITTO_ALLOWED=True
APP_HOME_PROVIDER_MOSQUITTO_INSTALL_SERVER=False
# / skills
# / skills / get_all_devices
APP_HOME_SKILL_GET_ALL_DEVICES_ALLOWED=True
# / skills / get_all_scenes
APP_HOME_SKILL_GET_ALL_SCENES_ALLOWED=True
# / skills / add_device
APP_HOME_SKILL_ADD_DEVICE_ALLOWED=True
# / skills / add_scene
APP_HOME_SKILL_ADD_SCENE_ALLOWED=True
# / skills / set_scene
APP_HOME_SKILL_SET_SCENE_ALLOWED=True
# / skills / set_device
APP_HOME_SKILL_SET_DEVICE_ALLOWED=True
# / skills / get_temperature
APP_HOME_SKILL_GET_TEMPERATURE_ALLOWED=True
# / skills / get_power_consumption
APP_HOME_SKILL_GET_POWER_CONSUMPTION_ALLOWED=True


# 'Messages' app
# Send messages, create threads and more.
APP_MESSAGES_ALLOWED=True
# / providers
# / providers / discord
APP_MESSAGES_PROVIDER_DISCORD_ALLOWED=True
# / providers / discord / bots / burton
APP_MESSAGES_PROVIDER_DISCORD_BOTS_BURTON_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_BURTON_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_BURTON_TOKEN=
# / providers / discord / bots / sophia
APP_MESSAGES_PROVIDER_DISCORD_BOTS_SOPHIA_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_SOPHIA_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_SOPHIA_TOKEN=
# / providers / discord / bots / mark
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MARK_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MARK_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MARK_TOKEN=
# / providers / discord / bots / elton
APP_MESSAGES_PROVIDER_DISCORD_BOTS_ELTON_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_ELTON_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_ELTON_TOKEN=
# / providers / discord / bots / finn
APP_MESSAGES_PROVIDER_DISCORD_BOTS_FINN_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_FINN_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_FINN_TOKEN=
# / providers / discord / bots / grace
APP_MESSAGES_PROVIDER_DISCORD_BOTS_GRACE_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_GRACE_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_GRACE_TOKEN=
# / providers / discord / bots / leon
APP_MESSAGES_PROVIDER_DISCORD_BOTS_LEON_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_LEON_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_LEON_TOKEN=
# / providers / discord / bots / priscilla
APP_MESSAGES_PROVIDER_DISCORD_BOTS_PRISCILLA_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_PRISCILLA_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_PRISCILLA_TOKEN=
# / providers / discord / bots / selma
APP_MESSAGES_PROVIDER_DISCORD_BOTS_SELMA_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_SELMA_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_SELMA_TOKEN=
# / providers / discord / bots / makani
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MAKANI_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MAKANI_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MAKANI_TOKEN=
# / providers / discord / bots / monika
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MONIKA_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MONIKA_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MONIKA_TOKEN=
# / providers / discord / bots / melvin
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MELVIN_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MELVIN_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_MELVIN_TOKEN=
# / providers / discord / bots / lisa
APP_MESSAGES_PROVIDER_DISCORD_BOTS_LISA_CLIENT_ID=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_LISA_OAUTH_URL=
APP_MESSAGES_PROVIDER_DISCORD_BOTS_LISA_TOKEN=
# / providers / slack
APP_MESSAGES_PROVIDER_SLACK_ALLOWED=True
# / providers / slack / bots / burton
APP_MESSAGES_PROVIDER_SLACK_BOTS_BURTON_TOKEN=
# / providers / slack / bots / sophia
APP_MESSAGES_PROVIDER_SLACK_BOTS_SOPHIA_SLACK_TOKEN=
# / providers / slack / bots / mark
APP_MESSAGES_PROVIDER_SLACK_BOTS_MARK_SLACK_TOKEN=
# / providers / slack / bots / elton
APP_MESSAGES_PROVIDER_SLACK_BOTS_ELTON_SLACK_TOKEN=
# / providers / slack / bots / finn
APP_MESSAGES_PROVIDER_SLACK_BOTS_FINN_SLACK_TOKEN=
# / providers / slack / bots / grace
APP_MESSAGES_PROVIDER_SLACK_BOTS_GRACE_SLACK_TOKEN=
# / providers / slack / bots / leon
APP_MESSAGES_PROVIDER_SLACK_BOTS_LEON_SLACK_TOKEN=
# / providers / slack / bots / priscilla
APP_MESSAGES_PROVIDER_SLACK_BOTS_PRISCILLA_SLACK_TOKEN=
# / providers / slack / bots / selma
APP_MESSAGES_PROVIDER_SLACK_BOTS_SELMA_SLACK_TOKEN=
# / providers / slack / bots / makani
APP_MESSAGES_PROVIDER_SLACK_BOTS_MAKANI_SLACK_TOKEN=
# / providers / slack / bots / monika
APP_MESSAGES_PROVIDER_SLACK_BOTS_MONIKA_SLACK_TOKEN=
# / providers / slack / bots / melvin
APP_MESSAGES_PROVIDER_SLACK_BOTS_MELVIN_SLACK_TOKEN=
# / providers / slack / bots / lisa
APP_MESSAGES_PROVIDER_SLACK_BOTS_LISA_SLACK_TOKEN=
# / skills
# / skills / send
APP_MESSAGES_SKILL_SEND_ALLOWED=True
# / skills / connect
APP_MESSAGES_SKILL_CONNECT_ALLOWED=True


# 'Photos' app
# Generate images, modify and resize them and more.
APP_PHOTOS_ALLOWED=True
# / providers
# / providers / black_forest_labs
APP_PHOTOS_PROVIDER_BLACK_FOREST_LABS_ALLOWED=True
# / skills
# / skills / generate
APP_PHOTOS_SKILL_GENERATE_ALLOWED=True
APP_PHOTOS_SKILL_GENERATE_DEFAULT_PROVIDER_SLUG=black_forest_labs
# / skills / resize
APP_PHOTOS_SKILL_RESIZE_ALLOWED=True


# 'Videos' app
# Create and generate videos, search for videos, get their transcript and more.
APP_VIDEOS_ALLOWED=True
# / providers
# / providers / youtube
APP_VIDEOS_PROVIDER_YOUTUBE_ALLOWED=True
# / providers / lumalabs
APP_VIDEOS_PROVIDER_LUMALABS_ALLOWED=True
# / providers / assemblyai
APP_VIDEOS_PROVIDER_ASSEMBLYAI_ALLOWED=True
# / skills
# / skills / get_transcript
APP_VIDEOS_SKILL_GET_TRANSCRIPT_ALLOWED=True


# 'Web' app
# Browse the web, research topics and more.
# / settings
APP_WEB_SECRET_KEY=
APP_WEB_PORT=8080
# / skills
# / skills / read
APP_WEB_SKILL_READ_ALLOWED=True


#########################################################################
##### REST API
#########################################################################

# The REST API, used by the web application, the task management, the apps and external developers using the OpenMates API
REST_API_PORT=8000
CRYPTO_KEY=
CRYPTO_SALT=


#########################################################################
##### Web application
#########################################################################

# The web application for OpenMates, which will be used by the users and connects to the REST API
# no secrets yet


#########################################################################
##### Website
#########################################################################

# The website for OpenMates, which will be used to promote the OpenMates project and explain what it is
# no secrets yet


#########################################################################
##### Task management
#########################################################################

# Manages tasks that take longer then just milliseconds to complete or that need to be scheduled.
# no secrets yet


#########################################################################
##### CMS
#########################################################################

# The content management system (CMS) for managing user data
ADMIN_EMAIL=
ADMIN_PASSWORD=
CMS_TOKEN=
NODE_ENV=development
CMS_PORT=1337
API_TOKEN_SALT=
APP_KEYS=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=
DATABASE_PORT=5432
ADMIN_PATH=/admin
STRAPI_TELEMETRY_DISABLED=true


#########################################################################
##### CMS database
#########################################################################

# The database for the content management system (CMS)
DATABASE_CLIENT=postgres
DATABASE_NAME=openmates
DATABASE_FILENAME=.tmp/data.db
DATABASE_USERNAME=
DATABASE_PASSWORD=


#########################################################################
##### In-memory database
#########################################################################

# The in-memory database for temporarly storing frequently accessed data
IN_MEMORY_DATABASE_PORT=6379