HOST=0.0.0.0

# Strapi
CMS_PORT=1337
CMS_TOKEN=
API_TOKEN_SALT=
APP_KEYS=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
NODE_ENV=development
DATABASE_CLIENT=postgres
DATABASE_NAME=
DATABASE_FILENAME=.tmp/data.db
DATABASE_USERNAME=
DATABASE_PASSWORD=
JWT_SECRET=

# Memory
DRAGONFLY_PORT=6379

# Web Browser
WEB_BROWSER_SECRET_KEY=
WEB_BROWSER_PORT=8080

# Rest API
REST_API_PORT=8000
CRYPTO_KEY=
CRYPTO_SALT=

TEST_API_TOKEN=
TEST_TEAM_SLUG=
TEST_DISCORD_CHANNEL_NAME=
TEST_AI_MATE_USERNAME=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
AKAUNTING_API_URL=http://localhost:8080
AKAUNTING_USERNAME=
AKAUNTING_PASSWORD=
AKAUNTING_COMPANY_ID=
DISCORD_BOT_TOKEN=
NGROK_AUTHTOKEN=
ASSEMBLYAI_API_KEY=
ELEVENLABS_API_KEY=