#  _____________________________________________________________________
# |                                                                     |
# |         ____                  __  __        _                       |
# |        / __ \                |  \/   |     | |                      |
# |       | |  | |_ __   ___ _ __| \  /  | __ _| |_ ___  ___            |
# |       | |  | | '_ \ / _ \ '_ \ |\/ | |/ _` | __/ _ \/ __|           |
# |       | |__| | |_) |  __/ | | | |  | | (_| | ||  __/\__ \           |
# |        \____/| .__/ \___|_| |_|_|  |_|\__,_|\__\___||___/           |
# |              | |                                                    |
# |              |_|                                                    |
# |                                                                     |
# |_____________________________________________________________________|
#                       Your AI team mates.

#########################################################################
##################          Server Secrets          #####################
#########################################################################

#########################################################################
##### Testing settings
#########################################################################

TEST_API_TOKEN=
TEST_TEAM_SLUG=
TEST_DISCORD_CHANNEL_NAME=
TEST_AI_MATE_USERNAME=


#########################################################################
##### Basic server settings
#########################################################################

SERVER_HOST=0.0.0.0
NGROK_AUTHTOKEN=


#########################################################################
##### AI team mates and their default settings
#########################################################################

# no secrets yet


#########################################################################
##### Apps
#########################################################################

# Apps used by OpenMates

# 'AI' app
# Use generative AI to answer questions, brainstorm ideas and more.
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# 'Messages' app
# Send messages, create threads and more.
AI_MATE_SOPHIA_DISCORD_TOKEN=
AI_MATE_SOPHIA_SLACK_TOKEN=
AI_MATE_MARK_DISCORD_TOKEN=
AI_MATE_MARK_SLACK_TOKEN=

# 'Web' app
# Browse the web, research topics and more.
WEB_BROWSER_SECRET_KEY=
WEB_BROWSER_PORT=8080

# 'Audio' app
# Generate, modify and transcribe audio and more.
ASSEMBLYAI_API_KEY=
ELEVENLABS_API_KEY=

# 'Finance' app
# Keep track of your finances and build a stable income.
AKAUNTING_API_URL=
AKAUNTING_USERNAME=
AKAUNTING_PASSWORD=
AKAUNTING_COMPANY_ID=


#########################################################################
##### REST API
#########################################################################

# The REST API, used by the web application, the task management, the apps and external developers using the OpenMates API
REST_API_PORT=8000
CRYPTO_KEY=
CRYPTO_SALT=


#########################################################################
##### Web application
#########################################################################

# The web application for OpenMates, which will be used by the users and connects to the REST API
# no secrets yet


#########################################################################
##### Website
#########################################################################

# The website for OpenMates, which will be used to promote the OpenMates project and explain what it is
# no secrets yet


#########################################################################
##### Task management
#########################################################################

# Manages tasks that take longer then just milliseconds to complete or that need to be scheduled.
# no secrets yet


#########################################################################
##### CMS
#########################################################################

# The content management system (CMS) for managing user data
NODE_ENV=development
CMS_PORT=1337
CMS_TOKEN=
API_TOKEN_SALT=
APP_KEYS=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=


#########################################################################
##### CMS database
#########################################################################

# The database for the content management system (CMS)
DATABASE_CLIENT=postgres
DATABASE_NAME=openmates
DATABASE_FILENAME=.tmp/data.db
DATABASE_USERNAME=
DATABASE_PASSWORD=


#########################################################################
##### In-memory database
#########################################################################

# The in-memory database for temporarly storing frequently accessed data
IN_MEMORY_DATABASE_PORT=6379