---
# Docker Compose configuration for Grafana

services:
  grafana:
    image: grafana/grafana:latest  # Uses the latest Grafana image
    container_name: grafana
    restart: unless-stopped
    ports:
      - "{{ grafana_port }}:3000"  # Maps host port to Grafana's default port
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{ app_hosting_grafana_admin_password }}  # Admin password with a default value
      - GF_SECURITY_ADMIN_USER={{ app_hosting_grafana_admin_user }}
      - GF_AUTH_ANONYMOUS_ENABLED=false  # Disables anonymous access for security
      - GF_USERS_ALLOW_SIGN_UP={{ app_hosting_grafana_allow_signup }}
      - GF_USERS_AUTO_ASSIGN_ORG_ROLE={{ app_hosting_grafana_default_role }}
      - GF_AUTH_BASIC_ENABLED={{ app_hosting_grafana_basic_auth }}
    volumes:
      - grafana_data_local:/var/lib/grafana  # Persists Grafana data locally
    networks:
      - grafana_network

volumes:
  grafana_data_local:
    driver: local

networks:
  grafana_network:
    driver: bridge