<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>OpenMates</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OpenMates</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>org.openmates.app.viewChat</string>
		<string>org.openmates.app.composeChat</string>
		<string>org.openmates.app.browseChats</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.and.pencil</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Ask</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.openmates.ask</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>camera</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Ask About Photo</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.openmates.ask-about-photo</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.openmates.search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>eye.slash</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Incognito Ask</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.openmates.incognito-ask</string>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>OpenMates uses the microphone to record voice messages you choose to send in chat.</string>
	<key>NSCameraUsageDescription</key>
	<string>OpenMates uses the camera when you choose to attach a photo to a chat.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>OpenMates uses your photo library when you choose an image to attach to a chat.</string>
	<key>OpenMatesKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)org.openmates.app</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/LexendDeca-Light.ttf</string>
		<string>Fonts/LexendDeca-Regular.ttf</string>
		<string>Fonts/LexendDeca-Medium.ttf</string>
		<string>Fonts/LexendDeca-SemiBold.ttf</string>
		<string>Fonts/LexendDeca-Bold.ttf</string>
		<string>Fonts/LexendDeca-ExtraBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
