<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:openmates.org</string>
		<string>$(OPENMATES_DEV_WEBCREDENTIALS)</string>
		<string>webcredentials:app.openmates.org</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)org.openmates.app</string>
	</array>
</dict>
</plist>
