# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Ansible files
*.retry
ansible/*.log
ansible/*.pid
ansible/*.pyc
ansible/__pycache__/
ansible/roles/**/*.pyc
ansible/vault_password_file
ansible/inventory/*.yml
!ansible/inventory/example.yml
ansible/*.cfg

# OS specific files
.DS_Store
Thumbs.db

# Editor specific files
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.envrc
*.pem
**/secrets/*
**/private/*