/* Base icon container with common styles */
.icon {
    width: 95px;
    height: 95px;
    border-radius: 19px;
    position: relative;
    background-color: rgb(219, 219, 219);
    border: 2.17px solid #DEDEDE;

    /* Common ::before styles for all icons */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        filter: brightness(0) invert(1);
    }
}