/* Base icon container with common styles */
.icon {
    width: 95px;
    height: 95px;
    border-radius: 19px;
    position: relative;
    background-color: rgb(219, 219, 219);
    border: 2.17px solid #DEDEDE;
  }