/* Import colors.css and icon_svgs.css to access the CSS variables */
@import '../colors.css';
@import './icon_svgs.css';


/* Extends the base .icon class with mate-specific styling */
.icon.mate {
    background: var(--color-primary);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--icon-user-path) center no-repeat;
        background-size: 55%;
        /* Adjust the position of the AI icon by changing its position in the mask */
        -webkit-mask: var(--icon-user-path) center no-repeat,
                     var(--icon-ai-path) center 70% no-repeat;
        -webkit-mask-size: 60%, 20%;
        -webkit-mask-composite: source-out;
        mask: var(--icon-user-path) center no-repeat,
              var(--icon-ai-path) center 70% no-repeat;
        mask-size: 60%, 20%;
        mask-composite: subtract;
        filter: brightness(0) invert(1);
    }
}