/* Import colors.css and icon_svgs.css to access the CSS variables */
@import '../colors.css';
@import './icon_svgs.css';

/* Skill icon styling */
.icon.skill {
    background: var(--color-primary);

    &::before {
        background-image: var(--icon-skill-path);
        background-size: 55%;
    }
}